.container{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}
a{
    border: 1px solid #000;
    padding: 3px 10px ;
    text-decoration: none;
    color: red;
    border-radius: 5px;
    transition: all .5s;
}
a:hover{
    background: #000;
}